

.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
    background-color: #FFA62B;
}
a{
    color: white;
    text-decoration: none;
}
.listnavbar{
    display: flex;
    list-style: none;
    align-items: center;
}
.logo{
    font-size: 25px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 100;
}
.itemslink{
    padding-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}